<div>
    <h1>PRODUCTOS EN TIEMPO REAL</h1>

    <h3>Agregar producto nuevo</h3>
    <form >
        <label for="fname">Ingrese nombre del producto:</label><br>
        <input type="text" id="tittle"><br>
        <label for="lname">Ingrese descipccion del producto:</label><br>
        <input type="text" id="desciption"><br>
        <label for="fname">Ingrese codigo del producto:</label><br>
        <input type="text" id="code"><br>
        <label for="lname">Ingrese precio del producto:</label><br>
        <input type="text" id="price"><br>
        <label for="fname">Ingrese stock del producto:</label><br>
        <input type="text" id="stock"><br>
        <label for="lname">Ingrese categoria del producto:</label><br>
        <input type="text" id="category"><br><br>
    </form>
    
    <button id="btn">agregar producto</button>

    <div id="contenedor-productos">
        {{#each productos}}
            <div>
                <h3>{{this.tittle}}</h3>
                <p>{{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>{{this.category}}</p>
                <hr>
            </div>
        {{/each}} 
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        document.getElementById('btn').onclick = async () =>{

            let tittle = document.getElementById("tittle").value;
            let desciption = document.getElementById("desciption").value;
            let code = document.getElementById("code").value;
            let price = document.getElementById("price").value;
            let stock = document.getElementById("stock").value;
            let category = document.getElementById("category").value;

            let producto = {
                "tittle":tittle,
                "desciption":desciption,
                "code":code,
                "price":price,
                "stock":stock,
                "category":category
            }
            
            socket.emit('pedido', producto)
        }
        socket.on('update', productos => {

            let contenedorProductos = document.getElementById("contenedor-productos");
            contenedorProductos.innerHTML = ""

            for (const producto of productos) {
            contenedorProductos.innerHTML += 
            `
            <div>
                <h3>${producto.tittle}</h3>
                <p>${producto.description}</p>
                <p>Precio: ${producto.price}</p>
                <p>Stock: ${producto.stock}</p>
                <p>${producto.category}</p>
                <hr>
            </div>
            `
        }
        })

    </script>

</div>